* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
  height: 100%;
}
body {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

#login-register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#login-register .login {
  width: 40%;
}
#login-register .register {
  width: 40%;
}
/* end Login Register */

/* home page */
#home {
  height: 80%;
}

#home .home-title {
  height: 20%;
}
#home .home-title .title {
  margin-left: 7px;
  font-size: 1.5rem;
}
#home .home-title .online-users {
  margin-left: 7px;
  font-size: 1rem;
  color: green;
}

#home .home-boxes {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#home .home-boxes .left-box {
  height: 100%;
  width: 30%;
  border: 1px solid gainsboro;
}
#home .home-boxes .left-box .contain {
  margin: 5%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home .home-boxes .left-box .contain .search {
  height: 15%;
}

#home .home-boxes .left-box .contain .select {
  height: 60%;
  border: 1px solid gainsboro;
  overflow: hidden;
  overflow-y: scroll;
}

#home .home-boxes .left-box .select::-webkit-scrollbar {
  display: none;
}

#home .home-boxes .left-box .select nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#home .home-boxes .left-box .select .tab-content {
  height: 100%;
}
#home .home-boxes .left-box .select .tab-content .tab-pane {
  height: 100%;
}

#home .home-boxes .left-box .select .tab-pane .users {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#home .home-boxes .left-box .select .tab-pane .users .user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  margin-left: 5px;
  margin-bottom: 5px;
}

#home .home-boxes .left-box .select .tab-pane .users .user img {
  width: 20%;
}
#home .home-boxes .left-box .select .tab-pane .users .user .user-name {
  width: 70%;
  display: flex;
  align-items: center;
}

#home .home-boxes .left-box .contain .pagination1 {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home .home-boxes .right-box {
  height: 100%;
  width: 60%;
}

#home .home-boxes .right-box .conversations {
  height: 82.5%;
  margin-bottom: 2.5%;
  border: 1px solid gainsboro;
}
#home .home-boxes .right-box .input {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home .home-boxes .right-box .input .mess {
  height: 100%;
  width: 80%;
}
#home .home-boxes .right-box .input .mess .form-group {
  height: 100%;
}
#home .home-boxes .right-box .input .mess .form-group .form-control {
  height: 100%;
}
#home .home-boxes .right-box .input button {
  height: 90%;
  width: 15%;
}
/* Responsive */
/* For Mobile */

@media only screen and (max-width: 500px) {
  #login-register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #login-register .login {
    width: 55%;
  }
  #login-register .register {
    width: 55%;
  }
}
